services:
  backend:
    build: ./server
    container_name: backend
    restart: always
    env_file:
      - ./server/.env
    ports:
      - "5000:5000"

  frontend:
    build:
      context: ./client
      args:
        REACT_APP_API_URL: http://13.201.104.162:5000/api
    container_name: frontend
    restart: always
    ports:
      - "3000:3000"
    depends_on:
      - backend
